header {
  display: flex;
}

.nav-sucursal-mobile {
  display: none;
}

.logoheader {
  width: 100vw;
  object-fit: cover;
  height: 300px;
}

.logo-principal {
  width: 300px;
  height: 200px;
}

.nav_whatsapp {
  width: 60px;
  height: 60px;
  position: absolute;
  right: 280px;
  top: 25px;
}

.nav_sucursales {
  position: absolute;
  font-size: 1.8rem;
  background-color: rgb(0, 200, 250);
  color: white;
  display: inline-block;
  right: 140px;
  top: 40px;
  border-radius: 8px;
  text-decoration: none;
}

.header-container-img {
  position: relative;
}

.header-logo {
  position: absolute;
  top: 18%;
  left: 5%;
}

.enlaces__lista {
  margin-top: 2px;
  padding: 30px;
  border: 10px;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 200, 250, 0.25);
  border-radius: 4px;
  list-style: none;
}

.enlaces__lista a {
  margin: 0 1rem;
  text-decoration: none;
  font-size: 1.5rem;
  color: #0d6efd;
}

.enlaces__lista a:hover {
  color: white;
  transition: 0.7s;
}

/* .jam-close{
    display: none;
} */
.subtitulo {
  display: flex;
  text-align: center;
}

.car {
  display: none;
}

.subtitulo__sublogo {
  height: 195px;
  position: absolute;
}

.subtitulo__texto {
  position: relative;
  color: rgb(13, 13, 221);
  text-align: center;
  font-size: 2rem;
  margin-top: 15rem;
  margin-bottom: 4rem;
}

div.buscador {
  font-size: 1rem;
  margin: 1rem;
  width: 220px;
  margin: 1rem;
}
div.buscador h3.buscador-lugar {
  border-radius: 8px;
  color: blue;
  background-color: rgba(0, 200, 250, 0.4235294118);
}
div.buscador h3.buscador-inicio {
  border-radius: 8px;
  color: blue;
  background-color: rgba(0, 200, 250, 0.4235294118);
}
div.buscador h3.buscador-entrega {
  border-radius: 8px;
  color: blue;
  background-color: rgba(0, 200, 250, 0.4235294118);
}

.img-fluid {
  width: 100px;
  height: 300px;
  float: right;
  transition: all 0.5s ease-in-out;
}

.img-fluid:hover {
  filter: blur(2px);
}

.img-thumbnail {
  width: 450px;
}

.btn-primary {
  width: 80px;
}

.lugar {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border-radius: 8px;
  text-decoration: none;
}

.inputLugar {
  width: 500px;
  height: 35px;
  margin: 1rem;
}

.inicio {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border-radius: 8px;
  text-decoration: none;
}

.inputInicio {
  width: 500px;
  height: 35px;
  margin: 1rem;
}

.entrega {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: blue;
  background-color: rgba(0, 200, 250, 0.25);
  border-radius: 8px;
  text-decoration: none;
}

.inputEntrega {
  width: 500px;
  height: 35px;
  margin: 1rem;
}

.btn-info {
  font-weight: bold;
  color: blue;
  background-color: rgba(0, 200, 250, 0.25);
}

.btn-buscar {
  font-size: 1.5rem;
  width: 100px;
  margin-left: 1rem;
  font-weight: bold;
  color: blue;
  background-color: rgba(0, 200, 250, 0.25);
}

.jam-close {
  display: none;
}

/* .btnbuscar{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 6rem;
    height: 2rem;
    background-color:rgb(0, 200, 250) ;
    color: blue;
} */
.container__form-and-img {
  padding: 5rem 2rem;
  width: 100%;
  display: flex;
}

.container__form {
  width: 100%;
}

.container__img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 1rem 1rem;
}
.container__img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

ul {
  padding: none !important;
  margin: 0 !important;
}

.banner {
  width: 100%;
}

.container__form-and-img {
  padding: 5rem 2rem;
  width: 100%;
  display: flex;
}

.container__form {
  width: 100%;
}

.container__img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 1rem 1rem;
}
.container__img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.title {
  font-size: 2.5rem;
  text-align: center;
  color: #000000;
  padding: 2rem 1rem;
  font-weight: bold;
  cursor: default;
}
.title span {
  background-image: linear-gradient(transparent calc(65% - 5px), #00c8fa 5px);
  background-size: 0;
  background-repeat: no-repeat;
  display: inline;
  transition: 0.5s ease;
}
.title:hover span {
  background-size: 100%;
}

.fondo {
  display: flex;
  width: 800px;
  height: 500px;
  text-align: center;
  margin: 0 5px;
}

.tit {
  display: flex;
  margin-top: 15rem;
}

.tituloFooter {
  color: blue;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 3rem;
  justify-content: center;
}

.parrafo {
  color: blue;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.3rem;
  text-align: center;
}

.centrado {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logoFinal {
  width: 180px;
  height: 120px;
}

.buttons {
  display: flex;
}

.buttons a {
  text-decoration: none;
  font-size: 28px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background: #314652;
  color: #f1f1f1;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  transition: all 0.4s ease-in-out;
}

.buttons a:hover {
  transform: scale(1.2);
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons a {
  text-decoration: none;
  width: 60px;
  height: 60px;
  text-align: center;
  background: #314652;
  color: #f1f1f1;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  transition: all 0.4s ease-in-out;
}

.buttonla {
  width: 60px;
  height: 60px;
  font-size: 28px;
  background-color: #314652;
  border-radius: 50%;
  margin: 0 5px;
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerbuttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
}

.subtituloReserva {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2rem;
  color: blue;
  margin: 4rem;
}

.reserva {
  display: flex;
  justify-content: space-evenly;
}

.nroReserva {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: blue;
  background-color: rgba(0, 200, 250, 0.25);
  border-radius: 8px;
  text-decoration: none;
}

.inputReserva {
  width: 500px;
  height: 35px;
  margin: 1rem;
}

.oferta {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulooferta {
  margin-top: 4rem;
  font-family: Verdana;
  font-size: 2rem;
  color: blue;
  border-radius: 4px;
}

.logooferta {
  width: 300px;
  height: 300px;
  margin-top: 4rem;
  margin-bottom: 1rem;
}

.anunciooferta {
  margin-bottom: 6rem;
  font-family: Verdana;
  font-size: 2rem;
  color: white;
  background-color: rgba(132, 178, 247, 0.74);
  border-radius: 4px;
}

.mp {
  width: 500px;
  height: 500px;
  margin-bottom: 6rem;
}

.titulogmbaja {
  margin-top: 3rem;
  font-family: Verdana;
  font-size: 2rem;
  color: blue;
}

.gmbaja {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  text-align: center;
}

.titulogmmedia {
  margin-top: 3rem;
  font-family: Verdana;
  font-size: 2rem;
  color: blue;
}

.gmmedia {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  text-align: center;
}

.gamamedia {
  margin-bottom: 4rem;
}

.section-vehiculos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section-vehiculos ul {
  padding-bottom: 2rem;
}

.tituloclub {
  font-size: 1.5rem;
  color: blue;
  margin-top: 2rem;
  margin-bottom: 3rem;
  padding: 2px;
  border: black 2px;
}

.registrate {
  margin-bottom: 4rem;
  font-size: 1.5rem;
  background-color: rgb(0, 200, 250);
  color: blue;
}

.titulosucursales {
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: bold;
  color: blue;
}

.lista--sucursales {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
  font-size: 1.5rem;
}

.menu {
  display: none;
}

.seccion1 {
  padding: 100px 0;
}

body {
  background-color: rgb(206, 203, 203);
  font-family: "Nunito", sans-serif;
}

.presupuesto__ {
  font-size: 1.3rem;
  text-align: center;
}

.presupuesto__ span {
  font-weight: bold;
}

.classContainer {
  display: flex;
  justify-content: center;
}

.classContainer button {
  margin: 1rem;
}

/* CSS */
.btn-car {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.btn-car:hover,
.btn-car:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.btn-car:hover {
  transform: translateY(-1px);
}

.btn-car:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.underlined {
  color: black;
  flex: 1;
  font-size: 2em;
  line-height: 1.2;
  text-decoration: none;
  background-image: linear-gradient(to right, yellow 0, yellow 100%);
  background-position: 0 1.2em;
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: background 0.5s;
}
.underlined:hover {
  background-size: 100% 100%;
}
.underlined--thin {
  background-image: linear-gradient(to right, black 0, black 100%);
}
.underlined--thick {
  background-position: 0 -0.3em;
}
.underlined--offset {
  background-position: 0 0.2em;
  box-shadow: inset 0 -0.5em 0 0 invisible;
}
.underlined--gradient {
  background-position: 0 -0.1em;
  background-image: linear-gradient(to right, rgb(135, 197, 255) 0, rgb(89, 110, 251) 100%);
}
.underlined--reverse {
  background-position: 100% -0.1em;
  transition: background 1s;
  background-image: linear-gradient(to right, yellow 0, yellow 100%);
}
.underlined--gradient:hover {
  color: white;
}

.autosContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 40%;
  text-align: center;
}

.autosContainer__main {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
}

/*media query max 1023px*/
@media screen and (max-width: 1023px) and (min-width: 601px) {
  .logo-principal {
    width: 250px;
    height: 140px;
  }
  .logoheader {
    width: 100vw;
    height: 200px;
  }
  .nav_sucursales {
    margin-right: 2rem;
  }
  .nav_whatsapp {
    width: 30px;
    flex-direction: row;
    justify-content: flex-start;
    margin-right: 5rem;
  }
  .enlaces {
    width: 100%;
    /*height: 2px;*/
  }
  .enlaces__lista a {
    display: block;
    text-align: center;
    font-size: 22px;
    /*margin-bottom: -5rem;*/
    justify-content: center;
  }
  .subtitulo__texto {
    width: 200px;
    margin-top: 10rem;
  }
  .img-fluid {
    width: 50%;
    height: 200px;
    margin-top: 1px;
    padding: 5px;
  }
  .img-fluid :hover {
    filter: blur(5px);
  }
  .subtitulo__sublogo {
    width: 100%;
    height: 100px;
    margin-left: 0;
  }
  .subtitulo {
    margin-top: 6rem;
    justify-content: center;
  }
  .ruta {
    width: 400px;
    margin-bottom: 2rem;
  }
  .buscador {
    font-size: 0.1rem;
    margin-top: 1rem;
  }
  .lugar {
    font-size: 1rem;
  }
  .inicio {
    font-size: 1rem;
  }
  .entrega {
    font-size: 1rem;
  }
  .inputLugar {
    width: 300px;
    height: 25px;
  }
  .inputInicio {
    width: 300px;
    height: 25px;
  }
  .inputEntrega {
    width: 300px;
    height: 25px;
  }
  .btn-info {
    font-size: 10px;
    width: 80px;
  }
  .tit {
    font-size: 1rem;
    flex-direction: column;
    align-items: center;
  }
  .fondo {
    width: 350px;
    height: 350px;
    margin-left: -21rem;
  }
  .tituloFooter {
    font-size: 2rem;
    width: 100vh;
    text-align: right;
    margin-right: 36rem;
  }
  .parrafo {
    width: 100vh;
    font-size: 15px;
    text-align: inherit;
    justify-content: center;
    margin-top: -2rem;
    margin-right: 35rem;
  }
  .logoFinal {
    margin-top: 1rem;
    margin-left: 1rem;
    width: 100px;
    height: 90px;
  }
  .buttons {
    width: 10px;
    margin-left: -53em;
  }
  /*reserva*/
  .subtituloReserva {
    margin-top: 15px;
  }
  .logo__prin {
    width: 250px;
    height: 140px;
    margin-top: 1rem;
  }
  .logoheader {
    flex-direction: row-reverse;
    height: 200px;
    margin-right: 0rem;
  }
  .sucursales {
    margin-right: 2rem;
  }
  .whatsapp {
    width: 50px;
    flex-direction: row;
    justify-content: flex-start;
    margin-right: 5rem;
  }
  .nav-sucursal-mobile {
    display: none;
  }
}
/* media query max600px*/
@media screen and (max-width: 800px) {
  .logoheader {
    display: none;
  }
  .nav {
    display: none;
  }
  .logo-principal {
    width: 130px;
    height: 90px;
    position: relative;
    margin-right: 8rem;
  }
  .nav_sucursales {
    display: none;
  }
  .nav_whatsapp {
    width: 50px;
    height: 50px;
    position: absolute;
    margin-right: -16rem;
    margin-top: 1rem;
    display: none;
  }
  .subtitulo__sublogo {
    display: none;
  }
  .car {
    display: block;
    width: 300px;
    height: 200px;
    margin-left: 2rem;
  }
  .subtitulo__texto {
    font-size: 1.5rem;
    width: 100vh;
    margin-left: -20rem;
    margin-top: 20rem;
  }
  .enlaces {
    display: none;
  }
  .header {
    width: 100vw;
    background-color: #00c8fa;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    align-items: center;
  }
  .menu {
    display: block;
    font-size: 60px;
    color: rgb(227, 238, 228);
    text-decoration: none;
    width: 100%;
    margin-right: 1rem;
  }
  .subtitulo__texto {
    margin-top: 2rem;
    text-align: center;
    margin-left: -6.5rem;
    font-size: 1rem;
  }
  .img-fluid {
    display: none;
  }
  .inputLugar {
    width: 250px;
    height: 25px;
    margin: 1rem;
    border-radius: 2px;
  }
  .inputInicio {
    width: 250px;
    height: 25px;
    margin: 1rem;
    border-radius: 2px;
  }
  .inputEntrega {
    width: 250px;
    height: 25px;
    margin: 1rem;
    border-radius: 2px;
  }
  .btnbuscar:hover {
    color: #f1f1f1;
    transition: 0.7s;
  }
  .tit {
    width: 50%;
    position: relative;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: baseline;
  }
  .fondo {
    width: 290px;
    height: 400px;
    margin-left: 9rem;
  }
  footer {
    position: relative;
    width: 100%;
    right: 2rem;
  }
  .tituloFooter {
    font-size: 1.5rem;
    margin-top: -1rem;
    margin-right: -6rem;
  }
  .parrafo {
    width: 500px;
    font-size: 1rem;
    margin-right: 5rem;
    margin-top: -3rem;
  }
  .logoFinal {
    margin-right: 3rem;
    margin-top: 1rem;
    width: 120px;
    height: 100px;
  }
  .buttons {
    position: absolute;
    width: 100px;
    top: 40%;
    left: 60%;
  }
  .enlaces__lista {
    background-color: rgba(166, 166, 173, 0.952);
    text-decoration: none;
    flex-direction: column;
    min-height: 100vh;
  }
  #central {
    display: block;
    font-size: 2rem;
    text-align: center;
    background-color: rgba(104, 105, 104, 0.15);
    position: fixed;
    text-decoration: none;
    width: 100%;
    height: 100vh;
    top: 0;
    left: -150%;
    z-index: 100;
    transition: left 1s;
  }
  #central:target {
    left: 0;
  }
  .jam-close {
    display: block;
  }
  /*reserva*/
  .logo__prin {
    width: 130px;
    height: 90px;
    position: relative;
    margin-right: 8rem;
  }
  .img-fluid- {
    width: 500px;
    height: auto;
    margin: 2rem 1rem;
  }
  .btn-primary {
    width: 100px;
    margin-left: 1rem;
  }
  .subtituloReserva {
    font-size: 1.5rem;
    margin-top: 12rem;
    margin-right: -15rem;
  }
  .reserva {
    margin-top: 1rem;
    flex-direction: column;
    align-items: center;
  }
  .reserva form {
    text-align: center;
  }
  .header-logo {
    position: inherit;
    top: 0;
    left: 0;
    width: 1px;
  }
  .cars-large {
    display: none;
  }
  .car-alone {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .car-alone .car {
    width: 100vw;
    height: auto;
    margin: 0;
  }
  .nav-sucursal-mobile {
    display: block;
  }
  .gamabaja {
    width: 80%;
  }
  .gamamedia {
    width: 80%;
  }
}
.auto-alquiler {
  padding: 50px;
  width: 80%;
  margin: 0 auto;
  background-image: url(../../imagenes/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.auto-alquiler h2 {
  color: blue;
  text-align: center;
  font-size: 2rem;
  padding: 20px;
}
.auto-alquiler p {
  padding: 10px;
  color: blue;
  text-align: center;
}/*# sourceMappingURL=estilos.css.map */