.titulosucursales{
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: blue;
}
.lista--sucursales{
    margin-bottom: 3rem;
    font-size: 1.5rem;
}
.menu{
    display: none;
}
.seccion1{
    padding: 100px 0;
}