header{
    display: flex;
   // background-color: red;
}

.nav-sucursal-mobile {
    display: none;
}

.logoheader{
    width: 100vw;
    object-fit: cover;
    height: 300px;
//   align-items: baseline; 
}
.logo-principal{
    width: 300px;
    height: 200px;
    
}

.nav_whatsapp{
    width: 60px ;    
    height: 60px;
    position: absolute;  
    right: 280px;
    top: 25px;
    
}
.nav_sucursales{
    position: absolute;
    font-size: 1.8rem;
    background-color: rgb(0, 200, 250);
    color: white;
    display: inline-block;
    
    right: 140px;
    top: 40px;
    border-radius: 8px;
    text-decoration: none;
    
    
}

.header-container-img {
    position: relative;
}

.header-logo {
    position: absolute;
    top: 18%;
    left: 5%;
}