@mixin mixin-text ($text-align, $padding, $color: blue) {
    text-align: $text-align;
    padding: $padding;
    color: $color;

    
}


.auto-alquiler{
   padding: 50px ;
    width: 80%;
    margin: 0 auto;    
    background-image: url(../../imagenes/fondo.jpg);
     background-repeat: no-repeat;
    background-size: cover;


    h2{
        @include mixin-text(center, 10px);
        // color: blue;
       //  text-align: center;
         font-size: 2rem;
        // padding: 20px;
    }
    p{
        @include mixin-text(center, 10px, );
        // padding: 10px;
        // color: blue;
        // text-align: center;
    }
}
.img{
    width: 100%;

}
body{
    background-color: rgb(206, 203, 203);
}