@mixin mixin-vehiculos ($margin-top, $font-family, $font-size, $color: blue) {
    margin-top: $margin-top;
    font-family: $font-family;
    font-size:$font-size;
    color: $color;   
    }





.titulogmbaja{
    @include mixin-vehiculos(3rem, Verdana, 2rem, );
//     margin-top: 3rem;
//     font-family: Verdana;
//     font-size: 2rem;
//     color: blue;
 }
.gmbaja{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    text-align: center;
}
.titulogmmedia{
    @include mixin-vehiculos(3rem, Verdana, 2rem, );
    // margin-top: 3rem;    
    // font-family: Verdana;
    // font-size: 2rem;
    // color: blue;
}
.gmmedia{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    text-align: center
    
}
.gamamedia{
    margin-bottom: 4rem;
}

.section-vehiculos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    ul {
        padding-bottom: 2rem;
    }
}